@font-face {
    font-family: 'Hind';
    src: url('/assets/fonts/hind/Hind-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind';
    src: url('/assets/fonts/hind/Hind-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind';
    src: url('/assets/fonts/hind/Hind-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}