@font-face {
    font-family: 'Hind';
    src: url('/assets/fonts/hind/hind-bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind';
    src: url('/assets/fonts/hind/hind-medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hind';
    src: url('/assets/fonts/hind/hind-regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SNPro';
    src: url('/assets/fonts/snpro/snpro-black.otf');
    src: url('/assets/fonts/snpro/snpro-black.woff') format('woff'),
         url('/assets/fonts/snpro/snpro-black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SNPro';
    src: url('/assets/fonts/snpro/snpro-heavy.otf');
    src: url('/assets/fonts/snpro/snpro-heavy.woff') format('woff'),
         url('/assets/fonts/snpro/snpro-heavy.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SNPro';
    src: url('/assets/fonts/snpro/snpro-bold.otf');
    src: url('/assets/fonts/snpro/snpro-bold.woff') format('woff'),
         url('/assets/fonts/snpro/snpro-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SNPro';
    src: url('/assets/fonts/snpro/snpro-semibold.otf');
    src: url('/assets/fonts/snpro/snpro-semibold.woff') format('woff'),
         url('/assets/fonts/snpro/snpro-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SNPro';
    src: url('/assets/fonts/snpro/snpro-medium.otf');
    src: url('/assets/fonts/snpro/snpro-medium.woff') format('woff'),
         url('/assets/fonts/snpro/snpro-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SNPro';
    src: url('/assets/fonts/snpro/snpro-regular.otf');
    src: url('/assets/fonts/snpro/snpro-regular.woff') format('woff'),
         url('/assets/fonts/snpro/snpro-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SNPro';
    src: url('/assets/fonts/snpro/snpro-light.otf');
    src: url('/assets/fonts/snpro/snpro-light.woff') format('woff'),
         url('/assets/fonts/snpro/snpro-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SNPro';
    src: url('/assets/fonts/snpro/snpro-thin.otf');
    src: url('/assets/fonts/snpro/snpro-thin.woff') format('woff'),
         url('/assets/fonts/snpro/snpro-thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}