body > main {
    width: 85%;
    margin: 0rem auto;
}

header {
    margin-bottom: 1em;
}

header h1 {
    font-size: 2.25em;
    font-weight: 700;
    margin: 0em auto;
}

article {
    display: flex;
    flex-direction: row;
    gap: 1em;

    margin: 0.5em auto;
}

article > * {
    margin: 0;
    padding: 0;
}

article h2 {
    font-size: 1.2em;
    flex: 1;
}

article .desc {
    display: block;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    flex: 1;
}

time {
    color: var(--label-color);
}