.tag {
  text-transform: lowercase;
  font-size: 1rem;
  line-height: 1;
  padding: 0.25em 0.25em;
  margin-right: 0.8em;
  background-color: var(--bg-color-surface);
  border-radius: 0.25em;
  margin-bottom: 0.25em;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width : 90%;
}

main > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main > div > .non-footnote-content {
  flex: 1;
}

main > div > .footnotes-sep {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 1em;
}

header h1 {
  font-size: 2rem;
  font-weight: 700;
}

header > * {
  margin: 0;
  padding: 0.25em;
}

header time {
  color: var(--label-color);
}

main img {
  margin: 0.75em auto;
  width: auto;
  max-width: 90ch;

  margin-left: 50%;
  transform: translateX(-50%);
}

main :not(header) h1 {
  font-family: 'Hind', "Verdana fallback", sans-serif;
}

@media (max-width: 90ch) {
  main img {
    max-width: 90vw;
  }
}

h1, h2, h3 {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-weight: 500;
}

.footnote-ref a, a.footnote-backref {
  border-bottom: none;
}